* {
    margin: 0;
    padding: 0;
}
.text {
    color: white;
    position: absolute;
    top: 20%; 
    left: 15%; 
    transform: translate(-50%, -50%); 
    font-size: 106x;
}
body{
    background-color: black;    
}
.vertical-line {
    width: 1.5px; 
    height: 544px; 
    background-color: #ffffff;
    position: absolute;
    top: 58%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }