* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black; 
    color: #ffffff;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.container {
    display: flex;
    height: 100vh;
  }
  
  .titles {
    width: 30%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    position: absolute;
    top: 25%; 
    left: 33%; 
    transform: translate(-50%, -50%); 
    font-size: 25px;
  }
  
  .title {
    cursor: pointer;
    padding: 10px 0;
  }
  
  .title:hover {
    border-bottom: 1px solid #ffffff;
  }
  
  .texts {
    width: 70%;
    padding: 20px;
  }
  
  .text {
    display: none; 
    color: #ffffff;
  }
  
  .text.active {
    display: block; 
    position: absolute;
    top: 20%; 
    right: 33%; 
    transform: translate(-50%, -50%); 
    font-size: 20px;
  }
 .gif-container{
  position: absolute;
  top: -7%; 
  right: 43%; 
 }
 #static-gif {
  width: 200px; 
  height: auto;
}
audio {
  display: none;
}