body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.gif-container{
    position: absolute;
    top: -7%; 
    right: 43%; 
   }
#static-gif {
    width: 200px; 
    height: auto;
  }

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}
