body {
    background-color: black;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Special Elite", system-ui;
    background-image:url(desk.jpg);
    background-size: cover; /* Ensure the background image covers the entire area */
    background-attachment: fixed; /* Fix the background image */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.text-box {
    background-color: white;    
    color: black;
    padding: 20px;
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    text-align: left;
    background: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(paper.jpg);;
    position: relative; 
}
.interview{
    text-align: justify;
}
.gif-container {
    position: absolute;
    right: 50px; /* Adjust the distance from the right edge */
    bottom: 30px; /* Adjust the distance from the bottom edge */
    display: none; /* Initially hide the GIF container */
}