body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Special Elite", system-ui;
}

.text-box {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    text-align: left;
    background: fixed;
    background-image: linear-gradient(rgba(199, 199, 199, 0.7), rgba(255, 255, 255, 0.7)), url(2d5d4a613cc625e21194bd3e1277d90f.jpg);;
}
.interview{
    text-align: justify;
}
